* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #031a3f;
  font-family: Arial, sans-serif;
}

.container {
  padding: 40px;
}

.container h1 {
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.card {
  width: 250px;
  background: rgb(155, 185, 21);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgb(10, 1, 1);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.card h2 {
  margin-bottom: 10px;
  color: white;
}

.card p {
  color: white;
}

.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 20px;
}

.student-header h2 {
  color: white;
}

.add-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.add-btn:hover {
  background: #218838;
}

.form-container {
  width: 500px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 15px;
}

.form-container button:first-of-type {
  background: #007bff;
  color: white;
}

.form-container button:first-of-type:hover {
  background: #0056b3;
}

.form-container button:last-of-type {
  background: #dc3545;
  color: white;
}

.form-container button:last-of-type:hover {
  background: #b02a37;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

table th {
  background: #007bff;
  color: white;
  padding: 15px;
}

table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background: #f5f5f5;
}